@import "tailwindcss";

:root {
  font-family: "Inter", system-ui, sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900;
}

/* Custom Scrollbar for Kanban */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e2e8f0;
  border-radius: 20px;
}
