@import "tailwindcss";

:root {
  font-family: "roboto", sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
